<link type="text/css" rel="stylesheet" href="/static/plugins/spid/css/spid-sp-access-button.min.css" />
<form name="spid_idp_access" action="/pippozzo" method="post">
    <input type="hidden" name="param_001" value="" />
    <input type="hidden" name="param_002" value="" />
    <input type="hidden" name="param_003" value="" />
    <a href="#" class="italia-it-button italia-it-button-size-s button-spid" spid-idp-button="#spid-idp-button-small-post" aria-haspopup="true" aria-expanded="false">
        <span class="italia-it-button-icon"><img src="img/spid-ico-circle-bb.svg" onerror="this.src='img/spid-ico-circle-bb.png'; this.onerror=null;" alt="" /></span>
        <span class="italia-it-button-text">Entra con SPID</span>
    </a>
    <div id="spid-idp-button-small-post" class="spid-idp-button spid-idp-button-tip spid-idp-button-relative">
        <ul id="spid-idp-list-small-root-post" class="spid-idp-button-menu" aria-labelledby="spid-idp">
            <% for (const idp of spid_idp_list) { -%>
              <div>
                <li class="spid-idp-button-link" data-idp="<%=idp.id%>">
                    <button
                      class="idp-button-idp-logo"
                      name="<%=idp.id%>"
                      type="submit"
                      formaction="/spid/login?idp=<%=idp.id%>&response_type=<%= application.response_type %>&client_id=<%= application.id %>&state=<%= application.state %>&redirect_uri=<%= application.redirect_uri %>"
                    >
                      <span class="spid-sr-only"><%=idp.name%></span>
                      <img class="spid-idp-button-logo" src="/static/plugins/spid/img/spid-idp-<%=idp.id%>.svg" onerror="this.src='img/spid-idp-<%=idp.id%>.png'; this.onerror=null;" alt="<%=idp.name%>" />
                    </button>
                </li>
              </div>
            <% } -%>
            <li class="spid-idp-support-link" data-spidlink="info">
                <a href="https://www.spid.gov.it">Maggiori informazioni</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="rich">
                <a href="https://www.spid.gov.it/richiedi-spid">Non hai SPID?</a>
            </li>
            <li class="spid-idp-support-link" data-spidlink="help">
                <a href="https://www.spid.gov.it/serve-aiuto">Serve aiuto?</a>
            </li>
        </ul>
    </div>
</form>
<script type="text/javascript" src="/static/plugins/spid/js/spid-sp-access-button.min.js"></script>
<script>
    $(document).ready(function(){
        var rootList = $("#spid-idp-list-small-root-post");
        var idpList = rootList.children(".spid-idp-button-link");
        var lnkList = rootList.children(".spid-idp-support-link");
        while (idpList.length) {
            rootList.append(idpList.splice(Math.floor(Math.random() * idpList.length), 1)[0]);
        }
        rootList.append(lnkList);
    });
</script>

<!-- <button id="saml2_eidas_button" type="submit"  class="btn btn-primary pull-right second_submit_button"
formaction="/spid/login?response_type=<%= application.response_type %>&client_id=<%= application.id %>&state=<%= application.state %>&redirect_uri=<%= application.redirect_uri %>"><%=spid_auth.login_button_label%></button> -->
