<div id="content_body">
    <div id="create_application_modal" class="static_page">
        <div class="modal-header">
            <h3>
                <div class="steps-group">
                    <div class="step active">1</div>
                    <div class="step">2</div>
                    <div class="step">3</div>
                    <div class="line"></div>
                </div>
            </h3><h3 class="step-title"><%=translation.spid.step_create_spid_credentials.title%></h3>
        </div>
        <form id="spid_credentials" ng-controller="DummyCtrl" name="" autocomplete="" class="ng-scope ng-pristine ng-valid" action="/idm/applications/<%= application.id %>/step/spid" method="POST" enctype="">
          <input type='hidden' name='_csrf' value='<%= csrf_token%>' />
          <div class="modal-body clearfix">
            <fieldset>
                <div class="form-group required spid">
                    <label class="control-label required"><%=translation.spid.organization.title%></label>
                    <div class="spid_input">
                        <label class="control-label required" for="id_organization_name"><%=translation.spid.organization.name%></label>
                        <div class="">
                            <input class="form-control" id="id_organization_name" name="spid_credentials[organization_name]" type="text" value="<%= spid_credentials.organization_name %>">
                        </div>
                        <% if (errors.indexOf("organization_name") != -1) { %>
                            <span class="help-block alert alert-danger "><%=translation.spid.required_field%></span>
                        <% } %>
                    </div>
                    <div class="spid_input">
                        <label class="control-label required" for="id_organization_display_name"><%=translation.spid.organization.displayName%></label>
                        <div class="">
                            <input class="form-control" id="id_organization_display_name" name="spid_credentials[organization_display_name]" type="text" value="<%= spid_credentials.organization_display_name %>">
                        </div>
                        <% if (errors.indexOf("organization_display_name") != -1) { %>
                            <span class="help-block alert alert-danger "><%=translation.spid.required_field%></span>
                        <% } %>
                    </div>
                    <div class="spid_input">
                        <label class="control-label required" for="id_organization_url"><%=translation.spid.organization.url%></label>
                        <div class="">
                            <input class="form-control" id="id_organization_url" name="spid_credentials[organization_url]" type="text" value="<%= spid_credentials.organization_url %>">
                        </div>
                        <% if (errors.indexOf("organization_url") != -1) { %>
                            <span class="help-block alert alert-danger "><%=translation.spid.required_field%></span>
                        <% } %>
                    </div>
                </div>
                <div class="form-group required spid">
                    <label class="control-label required"><%=translation.spid.attributes.title%></label>
                    <div class="spid_input">
                        <label class="control-label required" for="id_attributes_name"><%=translation.spid.attributes.name%></label>
                        <div class="">
                            <input class="form-control" id="id_attributes_name" name="spid_credentials[attributes_name]" type="text" value="<%= spid_credentials.attributes_name %>">
                        </div>
                        <% if (errors.indexOf("attributes_name") != -1) { %>
                            <span class="help-block alert alert-danger "><%=translation.spid.required_field%></span>
                        <% } %>
                    </div>
                    <div class="spid_input">
                        <label class="control-label required" for="id_attributes_list"><%=translation.spid.attributes.list%></label>
                        <div class="">
                            <input class="form-control" id="id_attributes_list" name="spid_credentials[attributes_list]" type="text" value="<%= spid_credentials.attributes_list %>">
                        </div>
                        <% if (errors.indexOf("attributes_list") != -1) { %>
                            <span class="help-block alert alert-danger "><%=translation.spid.required_field%></span>
                        <% } %>
                    </div>
                </div>
                <div class="form-group required spid">
                    <label class="control-label required"><%=translation.spid.authcontext.title%></label>
                    <div class="spid_input_comparaison">
                      <div class="">
                        <div class="select-multiple form-group">
                          <label class="control-label required" for="comparison"><%=translation.spid.authcontext.comparison%></label>
                            <select id="comparison" name="spid_credentials[comparison]" class="selectpicker" data-size="4" data-width="100%" data-dropup-auto="false">
                              <option selected value="minimum"><%=translation.spid.minimum%></option>
                              <option value="better"><%=translation.spid.better%></option>
                              <option value="maximum"><%=translation.spid.maximum%></option>
                              <option value="exact"><%=translation.spid.exact%></option>
                            </select>
                        </div>
                    </div>
                        <% if (errors.indexOf("organization_name") != -1) { %>
                            <span class="help-block alert alert-danger "><%=translation.spid.required_field%></span>
                        <% } %>
                    </div>
                    <div class="spid_input_level">
                      <div class="">
                          <div class="select-multiple form-group">
                            <label class="control-label required" for="level"><%=translation.spid.authcontext.level%></label>
                              <select id="sp_type" name="spid_credentials[level]" class="selectpicker" data-size="3" data-width="100%" data-dropup-auto="false">
                                  <option selected value="https://www.spid.gov.it/SpidL1"><%=translation.spid.level1%></option>
                                  <option value="https://www.spid.gov.it/SpidL2"><%=translation.spid.level2%></option>
                                  <option value="https://www.spid.gov.it/SpidL3"><%=translation.spid.level3%></option>
                              </select>
                          </div>
                      </div>
                      <% if (errors.indexOf("sp_type") != -1) { %>
                          <span class="help-block alert alert-danger" style="margin-top: 55px"><%=translation.spid.alert01%></span>
                      <% } %>
                  </div>
                </div>
              </fieldset>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary"><%=translation.spid.step_create_spid_credentials.next_btn%></button>
          </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover({html:true});
        //$('[data-toggle="tooltip"]').tooltip();
    });
</script>

<style>
  button.btn.dropdown-toggle.btn-default {
    float: unset;
  }
  .dropdown-menu {
    position: absolute;
    top: 26px;
  }
</style>